# === Telegram ===
TELEGRAM_BOT_TOKEN=________
ADMIN_TELEGRAM_IDS=________

# === PostgreSQL ===
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bitrix_bot_db
DB_USER=octagon
DB_PASSWORD=________


# === Yandex Cloud ===
YC_API_KEY=________________-
YC_FOLDER_ID=_____________

# === Парсер ===
PARSE_MAX_PAGES=5000
PARSE_DELAY_SECONDS=1.5

# === Гибридный поиск ===
USE_SEMANTIC_SEARCH=true
EMBEDDING_DOC_MODEL=text-search-doc
EMBEDDING_QUERY_MODEL=text-search-query
EMBEDDING_BATCH_SIZE=16
EMBEDDING_CACHE_PATH=data/embeddings_cache.npz